// ViewWorkButton
.viewWorkContainer {
    position: absolute;
    top: 75%;
    left: 43%;
    width: 13%;
    align-content: center;
    a {
        cursor: pointer;
        height: 55px;
        width: 200px;
        color: $darkGrayColor;
        font-family: nexaBold;
        font-size: 18px;
        line-height: 55px;
        letter-spacing: 4px;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        border: 2px solid rgba(44, 44, 44, 0.5);
    }
    a:hover {
        color: $whiteColor;
        transition: 0.5s;
        .viewWorkArrow {
            color: $redColor;
            transition: 0.5s;
        }
    }
    a:before {
        content: "";
        position: absolute;
        top: 0;
        left: 6%;
        width: 0;
        height: 0;
        background: transparent;
        border: 2px solid transparent;
    }
    a:after {
        content: "";
        position: absolute;
        top: 0;
        left: 6%;
        width: 0;
        height: 0;
        background: transparent;
        border: 2px solid transparent;
    }
    a:hover:before {
        animation: animate 0.6s linear forwards;
    }
    a:hover:after {
        animation: animate2 0.6s linear forwards;
        animation-delay: 0.11s;
    }
}

.line {
    position: absolute;
    bottom: -345%;
    left: 52%;
    width: 2px;
    height: 50px;
    background: $medGrayColor;
    opacity: 0.2;
    transition: height 1s ease;
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        border-top-color: $whiteColor;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        width: 200px;
        height: 0;
        border-top-color: $whiteColor;
        border-right-color: $whiteColor;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        width: 200px;
        height: 55px;
        border-top-color: $whiteColor;
        border-right-color: $whiteColor;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

@keyframes animate2 {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: $whiteColor;
        border-left-color: transparent;
    }
    50% {
        width: 0;
        height: 55px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: $whiteColor;
        border-left-color: $whiteColor;
    }
    100% {
        width: 200px;
        height: 55px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: $whiteColor;
        border-left-color: $whiteColor;
    }
} //
// PORTFOLIO SCSS
// BG PARALLAX
.paraBG {
    position: fixed;
    top: 0;
    left: -100px;
    bottom: -200px;
    z-index: -150;
    #bg {
        opacity: 0.5;
    }
} //